<ion-view title="Châteaux">

    <ion-content class="has-header">

        <!--search form-->
        <div class="list list-inset">

            <label class="item item-input item-select">
                <div class="input-label">
                    AOC
                </div>
                <select ng-model="selection.aoc">
                    <option value="{{ aoc._id }}" ng-repeat="aoc in aocs">{{ aoc.name }}</option>
                </select>
            </label>

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="query">
            </label>

        </div>

        <!--list-->
        <ion-list>

            <ion-item class="item-icon-right" ng-repeat="domain in domains | filter:query" type="item-text-wrap" ng-click="selectDomain(domain._id)">
                {{ domain.name }} <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>
