<ion-view title="Château">

    <ion-content class="has-header">

        <div class="card">

            <div class="item item-avatar">
                <img src="images/vino.png">
                <h2>{{ domain.name }}</h2>
                <p>{{ domain.origin.region.name }} - {{ domain.origin.name }}</p>
            </div>

            <div class="item item-body">
                <div>
                    <img alt='300x200' style='height:300px;' ng-if="domain.sticker" ng-src='data:image/jpeg;base64,{{ domain.sticker }}'>
                </div>

                <div class="item item-divider">
                    Histoire/Description
                </div>
                <div class="item item-body">
                    {{ domain.history.description | default }}
                </div>

                <div class="item item-divider">
                    Sol
                </div>
                <div class="item item-body">
                    <p>{{ domain.wineDescription.floor | default }}</p>
                    <p>{{ domain.wineDescription.grape | default }}</p>
                    <p>{{ domain.wineDescription.medal | default }}</p>
                </div>
                <div class="item item-divider">
                    Garde
                </div>
                <div class="item item-body">
                    <p>{{ domain.tasting.comment | default }}</p>
                    <p>{{ domain.tasting.garde | default }}</p>
                    <p>{{ domain.tasting.temperature | default }}</p>
                </div>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>
