<ion-tabs class="tabs-icon-top">

    <!-- Cellars Management tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <!-- Cellars Management tab -->
    <ion-tab title="Cellars" icon="icon ion-wineglass" href="#/cellars">
        <ion-nav-view name="cellars-list"></ion-nav-view>
    </ion-tab>

    <!-- Domains Tab -->
    <ion-tab title="Domains" icon="icon ion-location" href="#/domains/list">
        <ion-nav-view name="domains-list"></ion-nav-view>
    </ion-tab>

    <!-- Stats -->
    <ion-tab title="Stats" icon="icon ion-pie-graph" href="#/statistics">
        <ion-nav-view name="statistics"></ion-nav-view>
    </ion-tab>

</ion-tabs>